* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-price {
  font-size: 1em;
  font-weight: bold;
  color: #e00;
}
.card {
  width: 19rem !important;
  height: 320px !important;
}

.card-img-top {
  height: 160px;
}
