* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* start cards styling*/
.card-price {
  font-size: 14px;
  font-weight: bold;
  color: #e00;
  margin-bottom: 5px;
}
.card {
  width: 17rem !important;
  height: 310px !important;
}

.card-img-top {
  height: 150px;
}
.card-text {
  font-size: 12px;
  margin-bottom: 2px;
  color: rgb(32, 32, 32);
}
.time{
  margin-top: -10px;
}
.view-more a{
font-size: 12px;
  font-weight: bold !important;
margin-left: -110px;
}
/* End start cards styling*/
