* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-price {
  font-size: 14px;
  font-weight: bold;
  color: #e00;
}
.card {
  width: 17rem !important;
  height: 320px !important;
}

.card-img-top {
  height: 150px;
}
.card-text{
font-size: 12px;
margin-bottom: 2px;
color: rgb(32, 32, 32);
}
/*svg-icons*/
/* .svg-icon {
margin-top: 100px !important;
border:1px solid red;
background-color: #e00;
} */